* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Garamond, serif;
}

/*--Header section--*/
header {
    background-color: aqua;
    width: 100%;
    height: 72vh;
    background-repeat: no-repeat;
    z-index: 1;
}
header img {
    object-fit: cover;
    width: 100%;
    height: 72vh;
    z-index: -1;
}

nav {
    padding: 30px 0;
    width: 100%;
    height: 80px;
    display: flex;
    position: fixed;
    top: 0;
    flex-direction: row;
    justify-content: space-around;
    z-index: 9;
    transition: background-color 0.3s linear;
}

nav.scrolled {
    background-color: rgb(200, 200, 200);
}

nav ul a {
    padding: 0 15px;
    font-family: Garamond, serif;
}

.menu-list {
    display: none;
}
.resp-menu-list {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    width: 100%;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
    opacity: 0;
}

.resp-menu-list.active {
    transform: translateX(-100%);
    opacity: 1;
    visibility: visible;
}
.resp-menu-list i {
    text-align: right;
    padding: 15px;
}

.resp-menu-list a {
    text-decoration: none;
    color: rgb(37, 37, 37);
    font-size: 1.5rem;
    padding: 15px;
    text-align: center;
}

.resp-menu-list .btn {
    background-color: indianred;
    padding: 5px;
    margin: 10px;
    border-radius: 25px;
}

nav .logo {
    font-size: 25px;
    letter-spacing: 4px;
    word-spacing: 3px;
}

nav a {
    text-decoration: none;
    color: #000;
}

.call-btn {
    background-color: salmon;
    text-align: center;
    padding: 15px;
    justify-content: center;
    border-radius: 90px;
}

.call-btn a {
    position: relative;
    bottom: 10px;
    font-size: 0.9rem;
}

.header-txt {
    position: absolute;
    left: 50%;
    top: 35%;
    width: 100%;
    height: auto;
    text-align: center;
    padding: 10px 20px;
    font-weight: bold;
    transform: translate(-50%, -50%);
    background-color: rgb(255,255,255,0.4);
    backdrop-filter: blur(10px);
}

.header-txt h1 {
    font-size: 2rem;
    font-weight: 100;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.header-txt h5 {
    font-size: 1.4rem;
    color: #363636;
    font-weight: 100;
}

.cta-container {
    background-color: #000;
    width: 100%;
}

.cta-btn {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 12px;
    padding: 5px 15px;
    text-decoration: none;
    color: #000;
    border-radius: 25px;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.4); 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*--End header*/

/*--Landing section--*/
.landing-container {
    height: 100vh;
    background-color: rgb(70, 70, 70);
}

.landing-head {
    background-color: antiquewhite;
    position: relative;
    margin: 0 15px;
    bottom: 20px;
    border-radius: 90px 90px;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
}

.landing-head h1 {
    font-size: 20px;
    font-weight: 100;
    text-align: center;
}
/*--End landing section--*/

/*--Footer section--*/
footer {
    position: relative;
    height: auto;
    background: url(../assets/images/footer-flowers.jpg);
    background-size: cover;
}

.footer-logo {
    position: relative;
    bottom: 5px;
    letter-spacing: 10px;
    text-align: start;
    font-weight: 100;
}

.footer {
    position: relative;
    top: 25px;
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: bold;
    margin: 0 20px;
    border-radius: 5px;
    background: rgb(255, 255, 255, 0.4);
    box-shadow: 0 0 8px 3px rgba(0, 0, 0, 0.7);
}

.footer-sec {
    margin: 5px;
    padding-top: 10px;
    color: #000;
}
.footer-sec h2 {
    font-size: 1.5rem;
    letter-spacing: 3px;
    font-weight: 400;
}

.footer-sec p {
    font-size: 1.1rem;
    font-weight: 100;
    letter-spacing: 5px;
}

.footer-sec i {
    padding: 10px;
}

.footer-list {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
}

.footer-list a {
    color: #000;
    margin: 3.5px 22.5vw;
    font-size: 1.1rem;
    font-weight: 100;
    border-radius: 90px;
    letter-spacing: 5px;
    text-decoration: none;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 12px 4px 8px rgb(red, green, blue);
}

.footer-sign {
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 45px;
    padding: 10px;
    text-align: center;
    color: #000;
    background-color: rgba(255, 255, 255, 0.664);
}

.footer-sign a {
    color: white;
    text-decoration: none;
}

.footer-sign h3 {
    font-size: 0.7rem;
    font-weight: 400;
    letter-spacing: 4px;
}
/*--End footer section--*/