* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Garamond, serif;
}

/*--Header section--*/
header {
    background-color: aqua;
    width: 100%;
    height: 72vh;
    background-repeat: no-repeat;
    z-index: 1;
}
header img {
    object-fit: cover;
    width: 100%;
    height: 72vh;
    z-index: -1;
}

nav {
    padding: 30px 0;
    width: 100%;
    height: 80px;
    display: flex;
    position: fixed;
    top: 0;
    flex-direction: row;
    justify-content: space-around;
    z-index: 999;
    transition: background-color 0.3s linear;
}

nav .logo, nav i, .header-txt h1 {
    color: #ffff;
}

nav.scrolled {
    background-color: rgb(200, 200, 200);
}

nav ul a {
    padding: 0 15px;
    font-family: Garamond, serif;
}

.menu-list {
    display: none;
}

.resp-menu-list {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    width: 100%;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
    opacity: 0;
}

.resp-menu-list.active {
    transform: translateX(-100%);
    opacity: 1;
    visibility: visible;
}
.resp-menu-list i {
    text-align: right;
    padding: 15px;
}

.resp-menu-list a {
    text-decoration: none;
    color: #ffff;
    font-size: 1.5rem;
    padding: 15px;
    text-align: center;
}

.resp-menu-list .btn {
    background-color: indianred;
    padding: 5px;
    margin: 10px;
    border-radius: 25px;
}

.call-btn a {
    margin-left: 60px;
    font-size: 15px;
    padding: 5px 10px;
    border-radius: 25px;
    background-color: indianred;
}

nav .logo {
    font-size: 25px;
    letter-spacing: 4px;
    word-spacing: 3px;
}

.header-txt {
    position: absolute;
    left: 50%;
    top: 52%;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    font-weight: bold;
    transform: translate(-50%, -50%);
    background-image: linear-gradient(to bottom, transparent, rgb(255,255,255,0.5));
}

.header-txt h1 {
    font-size: 30px;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.header-txt h2 {
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}
.header-txt h3 {
    font-size: 25px;
    padding: 20px 0;
    letter-spacing: 10px;
}
/*--End header--*/

/*--Navigation section--*/
.nav-sec {
    height: auto;
    width: 100%;
    padding: 20px 0;
    background-color: antiquewhite;
}

.nav-links a {
    color: #0e1e32;
    font-size: 1.6rem;
    padding: 5px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    letter-spacing: 3px;
}
/*--End navigation section--*/

/*--Obituary section--*/
.obit-sec {
    height: auto;
    background-color: #0e1e32;
}

.obit-head h1 {
    position: relative;
    top: 40%;
    color: #fffcff;
    text-align: center;
    padding: 20px 0;
    font-size: 2.3rem;
    font-weight: 100;
    font-style: italic;
    letter-spacing: 5px;
}

.obit-sec h3 {
    color: #fffcff;
    font-size: 2rem;
    text-align: center;
    font-weight: 100;
    letter-spacing: 3px;
}

.obit-content {
    position: relative;
    top: 3%;
    padding: 10px 10px;
}

.obit-content p {
    color: #fffcff;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 100;
    letter-spacing: 3px;
}

/*--End obituary section--*/

/*--Order of service section--*/
.progrm-sec {
    height: 90vh;
    object-fit: cover;
    background-image: url(/funeral/main_page/assets/images/obituaryimg.jpg);
}

.progrm-head h1 {
    color: #fffcff;
    text-align: center;
    padding-top: 20px;
    font-size: 2.5rem;
    font-weight: 100;
    font-style: italic;
    letter-spacing: 5px;
}

.progrm-head h2 {
    color: #fffcff;
    text-align: center;
    padding-top: 5px;
    font-size: 2.5rem;
    font-weight: 100;
    font-style: italic;
    letter-spacing: 5px;
}

.progrm-content {
    position: relative;
    top: 20px;
    padding: 0 5px;
    text-align: center;
}

.progrm-content table {
    color: white;
    width: 100%;
}
.progrm-content table td {
    justify-content: space-between;
    font-size: 1.4rem;
    font-weight: 100;
    letter-spacing: 2px;
    padding: 5px 0;
}

hr {
    margin: 2px 50px;
}

/*--End order of service section--*/

/*--Footer section--*/
footer {
    position: relative;
    bottom: 20px;
    height: auto;
    background: url(../assets/images/footer-flowers.jpg);
    background-size: cover;
}

.footer-logo {
    position: relative;
    bottom: 5px;
    letter-spacing: 10px;
    text-align: start;
    font-weight: 100;
}

.footer {
    position: relative;
    top: 25px;
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: bold;
    margin: 20px;
    border-radius: 5px;
    background: rgb(255, 255, 255, 0.4);
    box-shadow: 0 0 8px 3px rgba(0, 0, 0, 0.7);
}

.footer-sec {
    margin: 5px;
    color: #000;
}
.footer-sec h2 {
    font-size: 40px;
    font-weight: 400;
}

.footer-sec p {
    font-size: 1.8rem;
    font-weight: 100;
    letter-spacing: 5px;
}

.footer-sec i {
    padding: 10px;
}

.footer-list {
    display: flex;
    flex-direction: column;
}

.footer-list a {
    color: #000;
    padding: 5px 0;
    font-size: 1.5rem;
    font-weight: 100;
    letter-spacing: 5px;
    text-decoration: none;
}

.footer-sign {
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 45px;
    padding: 20px;
    text-align: center;
    color: #000;
    background-color: transparent;
}

.footer-sign a {
    color: white;
    text-decoration: none;
}

.footer-sign h3 {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 4px;
}
/*--End footer section--*/