* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Garamond, serif;
}

/*--Header section--*/
header {
    background-color: aqua;
    width: 100%;
    height: 80vh;
    background-repeat: no-repeat;
    z-index: 1;
}
header img {
    object-fit: cover;
    width: 100%;
    height: 80vh;
    z-index: -1;
}

nav {
    padding: 30px 0;
    width: 100%;
    height: 80px;
    display: flex;
    position: fixed;
    top: 0;
    flex-direction: row;
    justify-content: space-around;
    z-index: 999;
    transition: background-color 0.3s linear;
}

nav .logo, nav i, .header-txt h1 {
    color: #ffff;
}

nav.scrolled {
    background-color: rgb(200, 200, 200);
}

nav ul a {
    padding: 0 15px;
    font-family: Garamond, serif;
}

.menu-list {
    display: none;
}

.resp-menu-list {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    width: 100%;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
    opacity: 0;
}

.resp-menu-list.active {
    transform: translateX(-100%);
    opacity: 1;
    visibility: visible;
}
.resp-menu-list i {
    text-align: right;
    color: #000000;
    padding: 15px;
}

.resp-menu-list a {
    text-decoration: none;
    color: rgb(37, 37, 37);
    font-size: 1.5rem;
    padding: 15px;
    text-align: center;
}

.resp-menu-list .btn {
    background-color: indianred;
    padding: 5px;
    margin: 10px;
    border-radius: 25px;
}

.call-btn a {
    margin-left: 60px;
    font-size: 15px;
    padding: 5px 10px;
    border-radius: 25px;
    background-color: indianred;
}

nav .logo {
    font-size: 25px;
    letter-spacing: 4px;
    word-spacing: 3px;
}

nav a {
    text-decoration: none;
    color: #000;
}

.header-txt {
    position: absolute;
    left: 50%;
    top: 72%;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    font-weight: bold;
    transform: translate(-50%, -50%);
    background-image: linear-gradient(to bottom, transparent, rgba(255, 255, 255, 0.821));
}

.header-txt h1 {
    font-size: 30px;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.header-txt h2 {
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}
.header-txt h3 {
    font-size: 25px;
    padding: 20px 0;
    letter-spacing: 10px;
}
/*--End header--*/

/*--Navigation section--*/
.nav-sec {
    height: auto;
    width: 100%;
    padding: 10px 0;
    background-color: rgb(249, 243, 235);
}

.nav-links a {
    color: #0e1e32;
    font-size: 1.1rem;
    margin: 15px 18vw;
    padding: 10px;
    text-align: center;
    border-radius: 50px 90px;
    display: flex;
    flex-direction: row;
    background-color: #03030322;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    letter-spacing: 3px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/*--End navigation section--*/

/*--Obituary section--*/
.obit-sec {
    padding: 50px 0;
    height: auto;
    background-color: #0e1e32;
}

.obit-head h1 {
    position: relative;
    top: 40%;
    color: #fffcff;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 100;
    font-style: italic;
    letter-spacing: 5px;
    text-decoration: underline 0.5px;
    text-underline-offset: 5px;
}

.obit-sec h3 {
    color: #fffcff;
    font-size: 1.3rem;
    text-align: center;
    font-weight: 100;
    letter-spacing: 3px;
}

.obit-content {
    position: relative;
    top: 3%;
    padding: 10px 10px;
}

.obit-content p {
    color: #fffcff;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 100;
    letter-spacing: 1.5px;
}

/*--End obituary section--*/

/*--Order of service section--*/
.progrm-sec {
    height: auto;
    margin-bottom: 40px;
    object-fit: cover;
    background-image: url(/funeral/main_page/assets/images/obituaryimg.jpg);
}

.progrm-head h1 {
    color: #050505;
    text-align: center;
    padding-top: 20px;
    font-size: 2rem;
    font-weight: 100;
    font-style: italic;
    letter-spacing: 5px;
}

.progrm-head h2 {
    color: #050505;
    text-align: center;
    padding: 20px 0;
    font-size: 2rem;
    font-weight: 100;
    font-style: italic;
    letter-spacing: 5px;
}

#t1 {
    padding-bottom: 20px;
}

.progrm-content {
    position: relative;
    top: 20px;
    padding: 0 5px;
    text-align: center;
}

.progrm-content table {
    color: rgb(7, 7, 7);
    width: 100%;
}
.progrm-content table td {
    justify-content: space-between;
    font-size: 1rem;
    font-weight: 100;
    letter-spacing: 2px;
    padding: 5px 0;
}

hr {
    margin: 2px 50px;
}

/*--Venues and their locations--*/
.venue-ch {
    height: auto;
    padding: 20px 10px;
    text-align: center;
}

.venue-ch i {
    font-size: 30px;
}

.venue-ch h1 {
    font-style: italic;
    font-size: 2rem;
    letter-spacing: 5px;
    font-weight: 100;
    text-align: center;
}

.venue-ch a {
    color: #0e1e32;
    font-size: 1.2rem;
    margin: 10px 60px;
    padding: 10px;
    text-align: center;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    background-color: #fcfafc;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    letter-spacing: 3px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/*--End venues and their locations--*/

/*--End order of service section--*/

/*--Footer section--*/
footer {
    position: relative;
    height: auto;
    background: url(../assets/images/footer-flowers.jpg);
    background-size: cover;
}

.footer-logo {
    position: relative;
    bottom: 5px;
    letter-spacing: 10px;
    text-align: start;
    font-weight: 100;
}

.footer {
    position: relative;
    top: 25px;
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: bold;
    margin: 0 20px;
    border-radius: 5px;
    background: rgb(255, 255, 255, 0.4);
    box-shadow: 0 0 8px 3px rgba(0, 0, 0, 0.7);
}

.footer-sec {
    margin: 5px;
    padding-top: 10px;
    color: #000;
}
.footer-sec h2 {
    font-size: 1.5rem;
    letter-spacing: 3px;
    font-weight: 400;
}

.footer-sec p a {
    color: #000;
    font-size: 1.1rem;
    text-decoration: none;
    font-weight: 100;
    letter-spacing: 5px;
}

.footer-sec i {
    color: #000;
    padding: 10px;
}

.footer-list {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
}

.footer-list a {
    color: #000;
    margin: 3.5px 22.5vw;
    font-size: 1.1rem;
    font-weight: 100;
    border-radius: 90px;
    letter-spacing: 5px;
    text-decoration: none;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 12px 4px 8px rgb(red, green, blue);
}

.footer-sign {
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 45px;
    padding: 10px;
    text-align: center;
    color: #000;
    background-color: rgba(255, 255, 255, 0.664);
}

.footer-sign a {
    color: white;
    text-decoration: none;
}

.footer-sign h3 {
    font-size: 0.7rem;
    font-weight: 400;
    letter-spacing: 4px;
}
/*--End footer section--*/