* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Garamond, serif;
}

/*--Header section--*/
header {
    background-color: aqua;
    width: 100%;
    height: 72vh;
    background-repeat: no-repeat;
    z-index: 1;
}
header img {
    object-fit: cover;
    width: 100%;
    height: 72vh;
    z-index: -1;
}

nav {
    padding: 30px 0;
    width: 100%;
    height: 80px;
    display: flex;
    position: fixed;
    top: 0;
    flex-direction: row;
    justify-content: space-around;
    z-index: 999;
    transition: background-color 0.3s linear;
}

nav.scrolled {
    background-color: rgb(200, 200, 200);
}

nav ul a {
    padding: 0 15px;
    font-family: Garamond, serif;
}

.menu-list {
    display: none;
}
.resp-menu-list {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    width: 100%;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
    opacity: 0;
}

.resp-menu-list.active {
    transform: translateX(-100%);
    opacity: 1;
    visibility: visible;
}

.resp-menu-list i {
    text-align: right;
    padding: 15px;
}

.resp-menu-list a {
    text-decoration: none;
    color: rgb(37, 37, 37);
    font-size: 1.5rem;
    padding: 15px;
    text-align: center;
}

.resp-menu-list .btn {
    background-color: indianred;
    padding: 5px;
    margin: 10px;
    border-radius: 25px;
}

.call-btn a {
    margin-left: 60px;
    font-size: 15px;
    padding: 5px 10px;
    border-radius: 25px;
    background-color: indianred;
}

nav .logo {
    font-size: 25px;
    letter-spacing: 4px;
    word-spacing: 3px;
}

.header-txt {
    position: absolute;
    left: 50%;
    top: 35%;
    width: 100%;
    text-align: center;
    padding: 10px 20px;
    font-weight: bold;
    transform: translate(-50%, -50%);
    background-color: rgb(255,255,255,0.4);
    backdrop-filter: blur(1px);
}

.header-txt h1 {
    font-size: 30px;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.cta-btn {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 19px;
    padding: 5px 15px;
    border-radius: 25px;
    background-color: indianred;
    transition: linear 0.2s;
}

.cta-btn:hover {
    padding: 3px 16px;
    letter-spacing: 5px;
    background-color: red;
}
/*--End header*/

/*--Packages section--*/
.packages {
    width: 100%;
    height: auto;
    background-color: whitesmoke;
}

.packages h1 {
    font-weight: 100;
    font-size: 3rem;
    text-align: center;
    letter-spacing: 10px;
    padding-left: 8px;
    padding-top: 15px;
}
.packages h2, h4 {
    font-weight: 100;
    font-size: 2.4rem;
    text-align: center;
    letter-spacing: 10px;
    padding-left: 8px;
    
}

.pckg-head h2, h4 {
    color: #fffcdc;
}

.packages p {
    text-align: center;
    padding: 15px;
    font-size: 1.6rem;
    letter-spacing: 3px;
}

.packages hr {
    width: 65%;
    margin: 20px auto;
    border: 1px solid #000;
    border-top: none;
    height: 2px;
}

.pckg-sec {
    height: auto;
    padding: 20px;
}

.pckg-card {
    background-color: #14281D;
    border-radius: 25px;
    height: auto;
    justify-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    transform: translateX(-50%);
    opacity: 0;
    transition: transform 0.8s ease-out, opacity 0.8s ease-out;
}
.pckg-card.visible-left {
    transform: translateX(0);
    opacity: 1;
}
.pckg-card.visible-right {
    transform: translateX(0);
    opacity: 1;
}
.pckg-card.visible {
    opacity: 1;
}

.pckg-head {
    position: relative;
    bottom: 10px;
    font-size: 26px;
    text-align: center;
    border-radius: 10px;
    width: 90%;
    padding: 20px;
    background-image: linear-gradient(to bottom, salmon, #14281D);
}

.pckg-content {
    padding: 50px 0;
    font-size: 30px;
}

.pckg-content ul {
    list-style: none;
    text-align: center;
    color: #fffcdc;
}
/*--End packages section--*/

/*--Footer section--*/
footer {
    position: relative;
    bottom: 20px;
    height: auto;
    background: url(../assets/images/footer-flowers.jpg);
    background-size: cover;
}

.footer-logo {
    position: relative;
    bottom: 5px;
    letter-spacing: 10px;
    text-align: start;
    font-weight: 100;
}

.footer {
    position: relative;
    top: 25px;
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: bold;
    margin: 20px;
    border-radius: 5px;
    background: rgb(255, 255, 255, 0.4);
    box-shadow: 0 0 8px 3px rgba(0, 0, 0, 0.7);
}

.footer-sec {
    margin: 5px;
    color: #000;
}
.footer-sec h2 {
    font-size: 40px;
    font-weight: 400;
}

.footer-sec p {
    font-size: 1.8rem;
    font-weight: 100;
    letter-spacing: 5px;
}

.footer-sec i {
    padding: 10px;
}

.footer-list {
    display: flex;
    flex-direction: column;
}

.footer-list a {
    color: #000;
    padding: 5px 0;
    font-size: 1.5rem;
    font-weight: 100;
    letter-spacing: 5px;
    text-decoration: none;
}

.footer-sign {
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 45px;
    padding: 20px;
    text-align: center;
    color: #000;
    background-color: transparent;
}

.footer-sign a {
    color: white;
    text-decoration: none;
}

.footer-sign h3 {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 4px;
}
/*--End footer section--*/